node_modules
kuch smj aara? hn but ho kch nhi skta yr BC 8 din ka code he kiyya kya tha tu ne?yr git wale option pr 2 aate hn na? vs code mn? show m
commit ke niche 1 or option tha mene commit wala kya uske bd  shayed is ko kya tha commit ke drmyan discard wala wahan discard all arha tha?hn hm
